.Host>div>.code {
	text-align: center;
	min-height: 4rem;
	height: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.Host>div>.start {
	height: 8vh;
	border: none;
	width: 100%;
	text-align: center;
	background: #151f21;
	color: #feffef;
	font-family: inherit;
	font-size: 2rem;
	outline: none !important;
	text-transform: uppercase;
	cursor: pointer;
}

.prep {
	height: 90vh;
	width: 100%;
	background: #151f21;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.timer {
	width: 100%;
	height: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.timer>h2 {
	color: #feffef;
}

.is-ready {
	height: 10vh;
	width: 100%;
	color: #feffef;
	display: flex;
	justify-content: center;
	align-items: center;
}

.is-ready>h2 {
	color: #feffef;
}