.Title {
	width: 100%;
	height: 50vh;
	min-height: 4rem;
	display: flex;
	align-items: center;
	background-color: #151f21;
}

.Title>h1 {
	flex-grow: 0;
	margin: 0 2rem;
	user-select: none;
	color: #feffef;
}

.Title>.rainbow {
	flex-grow: 1;
}

.Title>.rainbow>div {
	width: 100%;
	height: .5rem;
}