@import url('https://fonts.googleapis.com/css?family=Shrikhand');

/* MAIN STYLES */

* {
	margin: 0;
	padding: 0;
	color: #151f21;
}

body {
	font-family: Shrikhand;
	background-color: #f2f1dd;
}

h1 {
	font-size: 3rem;
}


/* COLORS */

.red {
	background-color: #ff4c2e;
}

.orange {
	background-color: #fe792e;
}

.yellow {
	background-color: #fdd42c;
}

.lime {
	background-color: #bad015;
}

.green {
	background-color: #64b53c;
}

.blue {
	background-color: #89d6e8;
}

.indigo {
	background-color: #3f5d93;
}

.violet {
	background-color: #ff63a8;
}

.black {
	background-color: #151f21;
}

.brown {
	background-color: #5b3314;
}

.beige {
	background-color: #f2f1dd;
}

.white {
	background-color: #feffef;
}