.VoteMenu {
	height: 50vh;
	width: 100%;
	display: flex;
	background-color: #f2f1dd;
	overflow: hidden;
}

.VoteButton {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: none;
	font-family: inherit;
	font-size: 2rem;
	color: #feffef;
	padding: 1rem;
}

.VoteButton > small {
	color: #feffef;
}

.VoteButton:active,
.VoteButton:focus,
.VoteButton:hover,
.VoteButton:visited {
	outline: none !important;
}