.Header {
	width: 100%;
	height: 8vh;
	min-height: 4rem;
	display: flex;
	align-items: center;
}

.Header>h1 {
	flex-grow: 0;
	margin: 0 2rem;
	font-size: 2rem;
	user-select: none;
	color: #feffef;
}

.Header>.rainbow {
	flex-grow: 1;
}

.Header>.rainbow>div {
	width: 100%;
	height: .5vh;
	min-height: .5rem;
}