.Answer {
	height: 92vh;
	width: 100%;
	background: #151f21;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.timer {
	width: 100%;
	height: 12vh;
	min-height: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.timer>h2 {
	color: #feffef;
}

.is-ready {
	height: 10vh;
	width: 100%;
	color: #feffef;
	display: flex;
	justify-content: center;
	align-items: center;
}

.is-ready>h2 {
	color: #feffef;
}